@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/architectsdaughter/v11/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4w.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCIPrE.woff2') format('woff2');
}

/* body section */
body {
    display: block;
    padding: 5px;
    font-family: 'Raleway';
    color: hsl(183, 92%, 85%);
}

#seaside {
    background-image: url(../images/20190717_123343.jpg);
    background-size: cover;
    width: 600px;
    height: 900px;
}

#seaside .content {
    padding: 15px;
}

/* header section */
header {
    background-color: hsla(182, 96%, 27%, 0.5);
    padding: 10px;
    text-align: center;
}

header img {
    width: 225px;
    height: 250px;
    border-radius: 5px 20px;
    margin-bottom: 10px;
}
h1 {
    color: hsl(240, 64%, 27%);
    margin: 10px;
}

/* footer section */
footer {
    background-color: hsla(182, 96%, 27%, 0.5);
    padding: 10px;
}
